
.icon-integration:before { content: '\e800'; } /* '' */
.icon-panel:before { content: '\e802'; } /* '' */
.icon-system:before { content: '\e804'; } /* '' */
.icon-user_interface:before { content: '\e805'; } /* '' */
.icon-economy:before { content: '\e807'; } /* '' */
.icon-clients:before { content: '\e808'; } /* '' */
.icon-revenue:before { content: '\e809'; } /* '' */
.icon-loyalty:before { content: '\e80a'; } /* '' */
